<!DOCTYPE html>
<html lang="ko">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">

  <link rel="shortcut icon" href='public/images/favicon.ico'>
  <link rel="apple-touch-icon" sizes="180x180" href='public/images/apple-touch-icon.png'>
  <link rel="icon" type="image/png" sizes="32x32" href='public/images/favicon-32x32.png'>
  <link rel="icon" type="image/png" sizes="16x16" href='public/images/favicon-16x16.png'>
</head>

<body>
  <div id="app"></div>
</body>

</html>